<!DOCTYPE html>
<html>
    <head>
        <title>Survey Classification</title>
    </head>
    <body>
        <h1>Tag with school</h1>
        <form action="/school" method="POST">
            <input type="text" name="school_response">
            <button type="submit">Submit</button>
        </form>
        <h2>{{ school }}</h2>
        <h1>Tag with industry</h1>
        <form action="/industry" method="POST">
            <input type="text" name="industry_response">
            <button type="submit">Submit</button>
        </form>
        <h2>{{ industry }}</h2>
    </body>
</html>
